<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学乐乐</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/lib-flexible/build/flexible.js"></script>
</head>
<body>
    <div class="gather">
        <div class="learn">
            <input name="" class="case" type="number"   placeholder="请输入手机号">
            <button id="signChack">签到</button>
        </div>
        <div class="mask">
            <div class="mallmask">
                <p class="mallmask2"></p>
            </div>
        </div>
    </div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>